<!DOCTYPE html>
<html>
<head>
<title>This is my Blog</title>
</head>
<body>

<h1>Welcome to my Blog</h1>
<p>This is a paragraph.</p>

<%= link_to "Alpha Blog articles", articles_path %> | <%= link_to 'About', about_path %>

</body>
</html>