<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; "This was created by Vagtepes Productions
      <a href="mailto:etzintsopoulos@evantzin.co.uk"> Email</a>
    </small>
    <nav>
        <%= link_to "About", about_path %>
    </nav>
  </footer>
</div>